@use "sass:color";
@use "colors" as *;

.applauncher {
  background-color: $mantle;
  border-radius: 8px;
  border: solid 2px color.mix($lavender, $surface0, 60%);
  > box {
    padding: 5px;
  }

  label {
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
    color: $lavender;
  }
  
  entry {
    //Text
    font-size: 16px;
    font-weight: 500;
    color: $lavender;
    min-height: 16px;
    padding: 4px;
    //caret

    margin: 5px;
    background-color: $mantle;
    border: solid 2px $lavender;
    border-radius: 8px;
    &:focus {
      box-shadow: none;
      background-color: $base;
    }
  }

  scrollbar {
    &.overlay-indicator {
      opacity: 0;
    }
  }

  .scrollable {
    min-height: 60px;
     *{
      border-radius: 8px;
      border-width: 2px;
      border-color: transparent;
     }
  }

  .appbutton {
    outline: none;
    -gtk-icon-shadow: none;
    &:focus, &:selected  {
      background-color: color.mix($lavender, $surface0, 60%);
    }
  }

  icon {
    font-size: 50px;
    min-width: 50px;
    min-height: 50px;
  }
}
