@use "colors" as *;
@use "presets" as *;


tooltip {
    background-color: $base01;
    label {
        color: $base05;
    }
    border-color: $base07;
    box-shadow: none;
}

window.Applauncher {
    background-color: $base00;
    border-radius: $radius;
    box {
        padding: .4rem;
    }

    entry {
        font-family: "JetBrainsMono Nerd Font Mono";
        font-size: 1rem;
        font-weight: bold;
        color: $base05;

        background-color: $base01;
        border: solid .1rem $base07;
        border-radius: $radius;
        
        margin-bottom: .4rem;

        &:focus {
            // No focus outline
            box-shadow: none;
        }
    }

    scrollbar {
        // Remove scrollbar
        &.overlay-indicator {
            opacity: 0;
        }
    }
    
    // Pixel perfect
    scrollable {
        // 56 + 2 = 58
        min-height: 58px;
        * {
            border-color: transparent;
        }
    }

    flowboxchild.appbutton {
        outline: none;
        border-radius: $radius;
        icon {
            // Size 56x56
            font-size: 50px;
        }
    }
}