@use "colors" as *;
@use "presets" as *;

.Bar {
    .container {
        padding: 4px 6px 0;
    }

    .logo {
        font-size: $bar-icon-size;
        color: $base0D;
    }

    @keyframes bounce {
        70% { -gtk-icon-transform:translateY(0); }
        80% { -gtk-icon-transform:translateY(-8px); }
        90% { -gtk-icon-transform:translateY(0); }
        95% { -gtk-icon-transform:translateY(-5px); }
        97% { -gtk-icon-transform:translateY(0); }
        99% { -gtk-icon-transform:translateY(-2px); }
        100% { -gtk-icon-transform:translateY(0); }
    }

    .clock {
        padding: 0;
        color: $base07;
    }
    .workspaces {
        padding-left: 10px;
        padding-right: 10px;
        .workspace {
            color: $base07;
            padding: 4px 2px 2px;
            &.occupied {
                icon {
                    color: $base0D;
                }
            }
            &.active {
                icon {
                    transition: color 1s;
                    animation: bounce 1s;
                    color: $base0A;
                }
            }
        }
    }
}