@use "colors" as *;
@use "presets" as *;

window.Bar {
    centerbox.container {
        padding: .2rem .6rem .2rem;
        background-color: $base01;
    }

    image.logo {
        //font-size: 1.4rem;
        padding-top: 1px;
        -gtk-icon-size: 1.3rem;
        color: $base0D;
    }

    box.workspaces {
        button.workspace {
            transition: color 1s;
            color: $base02;
            -gtk-icon-size: 1rem;
            &.occupied {
                image {
                    transition: color 1s;
                    color: $base07;
                }
            }
            &.active {
                image {
                    transition: all 1s;
                    animation: icon-wiggle 1s ease-in-out;
                    color: $base0A;
                    -gtk-icon-size: 1.1rem;
                }
            }
        }
    }

    box.clock {
        color: $base07;

        calendar {
            color: $base07;
            button {
                color: $base07;
            }
            label:selected {
                background-color: $base0E;
            }
        }
    }

    box.network {
        color: $base0C;
    }

    box.notify {
        color: $base0A;
    }

    box.bluetooth {
        button {
            color: $base0D;
        }
    }

    box.volume {
        color: $base0B;
    }

    box.brightness {
        color: $base09;
    }

    box.battery {
        color: $base0A;
    }

    box.systray {
        * {
            -gtk-icon-size: 1.2rem;
        }
    }

}
