@use "colors" as *;
@use "presets" as *;

.Bar {
    .container {
        padding: 2px 5px 0;
        // Color transparence
        background-color: rgba($base00, 0.8);
    }

    // Override the default styling for labels
    label {
        padding-top: 2px;
    }

    .logo {
        font-size: $bar-icon-size;
        color: $base0D;
    }

    .workspaces {
        .workspace {
            padding: 0;
            color: $base04;
            &.occupied {
                icon {
                    color: $base07;
                }
            }
            &.active {
                icon {
                    transition: color 1s;
                    animation: icon-fade-in 1s ease;
                    color: $base0A;
                }
            }
        }
    }

    .clock {
        padding: 0;
        color: $base07;
    }

    .network {
        color: $base0C;
    }

    .bluetooth {
        color: $base0D;
    }

    .volume {
        color: $base0B;
    }

    .brightness {
        color: $base09;
    }

    .battery {
        color: $base0A;
    }

}