@use "sass:color";
@use "colors" as *;
@use "presets" as *;


window.Dashboard {

    box.container {
        padding: .6rem;
        border-radius: $radius;
        background-color: $base01;
    }

    box.cava {
        padding: .6rem .4rem;
        border-radius: $radius;
        min-width: 50px;
        background-color: $base01;
    }


    button.notif, button.drop, button.wifiButton, button.bluetoothButton {
        .arrow {
            padding-top: .4rem;
        }
        padding: .4rem .6rem .4rem;
        //padding: 1rem;
        border-radius: $radius;
        background-color: $base01;
        outline: none;
        image {
            //font-size: 1.2rem;
            -gtk-icon-size: 1.2rem;
        }
        &:hover, &:focus {
            transition: all .5s;
            background-color: $base02;
        }
    }
    button.drop { color: $base09; }
    button.wifiButton { color: $base0C; }
    button.bluetoothButton { color: $base0D; }
    button.notif { color: $base0A; }


    scrolledwindow.wifiList, scrolledwindow.bluetoothList {
        scrollbar {
            // Remove scrollbar
            &.overlay-indicator {
                opacity: 0;
            }
        }
        padding: .6rem;
        border-radius: $radius;
        background-color: $base01;
        * {
            border: none;
        }
        button {
            padding: 0;
            outline: none;
            border-radius: $radius;
            image {
                //font-size: 1.2rem;
                -gtk-icon-size: 1.2rem;
            }
            box {
                padding: .2rem;
                border-radius: $radius;
                box {
                    padding: .6rem
                }
                &:hover {
                    color: unset;
                    transition: all .5s;
                    background-color: $base02;
                }

            }
            // connected button text color
            &.connected {
                color: $base0A;
            }
        }
    }
    scrolledwindow.wifiList { color: $base0C; }
    scrolledwindow.bluetoothList { color: $base0D; }


    box.brightness_slider, box.volume_slider {
        image {
            //font-size: 1.2rem;
            -gtk-icon-size: 1.2rem;
        }
        scale {
            min-height: 120px;
            padding: 0.4rem;
            margin: 0.4rem;
            border-radius: $radius;
            trough {
                outline: none;
                min-width: 6px;
                slider {
                    all: unset;
                }
            }
            &:hover, &:focus {
                transition: all .5s;
                background-color: $base02;
            }
        }
    }
    box.brightness_slider { 
        color: $base09;
        highlight { background-color: $base09; }
    }
    box.volume_slider { 
        color: $base0B;
        highlight { background-color: $base0B; }
    }
}
